{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<body>

<div class="wrapper">

    <form action="">
    <h1 class="Connexion">Connexion</h1>

    <!--<div class="logo_site">
        <img src="/assets/Logo.png" alt="Logo_site">
    </div><!-->

    <!--<div class="image_photographe">
        <img src="/assets/Photo.png" alt="Appareil_photo_image">
    </div> <!-->




    <div class="input_box">
        <input type="text" id="login" name="login" minlength="6" size="15" placeholder="Identifiant" required/>
        <i class='bx bxs-user'></i>
    </div>

    <div class="input_box">
        <input type="text" id="password" name="password" minlength="12" size="15" placeholder="************" required/>
        <i class='bx bxs-lock-alt' ></i>
    </div>


    <div class="btn_rester_co">
        <label> <input type="checkbox"> Rester connecté ?</label>
         <a href="#">Mot de passe oublié ? </a>

    </div>


    

    <button type="submit" class="btn_connexion">Connexion</button>


    <div class="create_account">
        <p>Vous n'avez pas de compte ?
        <a href="/creation/compte">Nouveau Client </a></p>
    </div

    </form>
</div>
</body>
{% endblock %}
