<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <link href="assets/style_connexion.css" rel="stylesheet">
        <link href="assets/style_nav.css" rel="stylesheet">

    </head>
    <body>

        <div class="navbar-div">
            <nav class="navbar">
            <div>
            </div>
                <ul class="bouttons-nav">
                    <li class="boutton-nav"><a class="boutton-text-nav" href="#">Accueil</a></li>
                    <li class="boutton-nav"><a class="boutton-text-nav" href="#">Présentation</a></li>
                    <li class="boutton-nav"><a class="boutton-text-nav" href="#">Prestations</a></li>
                    <li class="boutton-nav"><a class="boutton-text-nav" href="/avis">Avis</a></li>
                    <li class="boutton-nav"><a class="boutton-text-nav" href="#">Contact</a></li>
                </ul>
                <img class="logo-nav" src="assets/logo_temporaire.png" alt="logo navbar" width="120px" height="50px">
            </nav>
        </div>

        {% block body %}{% endblock %}
    </body>


</html>
