{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block stylesheets %}
    <link href="/assets/style_creation_compte.css" rel="stylesheet">
{% endblock %}

{% block body %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
<div class="wrapper_page_creation_compte">

     <!--<div class="logo_site">
        <img src="/assets/Logo.png" alt="Logo_site">
    </div><!-->


    <h1 class="H1_creer_compte">Créer un compte</h1>


    <!--<div class="image_photographe">
    <img src="/assets/Photo.png" alt="Appareil_photo_image">
    </div><!-->

    <!-- NOM/PRENOM<!-->

    <div class="input-box">
        <div class="input-field">
            <input type="text" placeholder="Nom de famille" required> 
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Prénom" required>
            <i class='bx bxs-user'></i>
        </div>
    </div>


    <!-- MAIL/NUM TEL<!-->

     <div class="input-box">
        <div class="input-field">
            <input type="email" placeholder="Email" required>
            <i class='bx bxs-envelope'></i>
        </div>
        <div class="input-field">
            <input type="number" placeholder="N° de téléphone" required>
            <i class='bx bxs-phone'></i>
        </div>
    </div>

    <!-- ADRESSE/VILLE/CP<!-->


     <div class="input-box">
        <div class="input-field">
            <input type="text" placeholder="Adresse" required>
            <i class='bx bx-street-view'></i>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Ville" required>
            <i class='bx bx-street-view'></i>
        </div>
        <div class="input-field">
            <input type="text" placeholder="CP" size="5" required>
            <i class='bx bx-street-view'></i>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Genre" required>
            <i class='bx bx-street-view'></i>
        </div>
    </div>


    <!-- MDP<!-->

      <div class="input-box">
        <div class="input-field">
            <input type="password" placeholder="Mot de passe" required>
            <i class='bx bxs-lock-alt' ></i>
        </div>
        <div class="input-field">
            <input type="password" placeholder="Confirmation Mot de Passe" required>
            <i class='bx bxs-lock-alt' ></i>
        </div>
    </div>

    <button type="submit" class="btn_crer_compte">Créer un compte</button>
    
    <div class="btn_retour">
        <a href="/connexion">Retour </a></p>
    </div>

</div>
</div>
</body>

{% endblock %}
